name: CD Pipeline

on:
  workflow_run:
    workflows: ['Docker Image CI']
    types:
      - completed

env:
  GITHUB_HASH: $(git rev-parse --short "$GITHUB_SHA")

jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Pull Docker image
      run: sudo docker pull pchong77/csg1-centraldeoportunidades-python:${{env.GITHUB_HASH}}
    - name: Delete old Docker container
      run: sudo docker rm -f csg1-centraldeoportunidades-python || true
    - name: Run Docker container
      run: sudo docker run -d -p 8080:8080 --name csg1-centraldeoportunidades-python pchong77/csg1-centraldeoportunidades-python
