name: Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  GITHUB_HASH: $(git rev-parse --short "$GITHUB_SHA")
  ACCESS_KEY_ID: ${{secrets.ACCESS_KEY_ID}}
  SECRET_ACCESS_KEY: ${{secrets.SECRET_ACCESS_KEY}}
  SESSION_TOKEN: ${{secrets.SESSION_TOKEN}}

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Login Dockerhub
      env:
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - name: Build the Docker image
      run: docker build -t csg1-centraldeoportunidades-python .
    - name: Tag the image
      run: docker tag csg1-centraldeoportunidades-python:latest pchong77/csg1-centraldeoportunidades-python:${{env.GITHUB_HASH}}
    - name: Push to Dockerhub
      run: docker push pchong77/csg1-centraldeoportunidades-python:${{env.GITHUB_HASH}}

    # - name: Set up Terraform
    #   uses: hashicorp/setup-terraform@v3
    #   with:
    #     terraform_version: 1.6.5

    - name: Checkout Repo
      uses: actions/checkout@v1

    - name: Terraform Init
      uses: hashicorp/terraform-github-actions/init@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TF_ACTION_WORKING_DIR: 'infra'
        ACCESS_KEY_ID:  ${{ secrets.ACCESS_KEY_ID }}
        SECRET_ACCESS_KEY:  ${{ secrets.SECRET_ACCESS_KEY }}
        SESSION_TOKEN: ${{ secrets.SESSION_TOKEN }}


    - name: Terraform Plan
      uses: hashicorp/terraform-github-actions/plan@latest

    - name: Terraform Validate
      uses: hashicorp/terraform-github-actions/validate@latest

    - name: Terraform Apply
      uses: hashicorp/terraform-github-actions/apply@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        TF_ACTION_WORKING_DIR: 'terraform'
        ACCESS_KEY_ID:  ${{ secrets.ACCESS_KEY_ID }}
        SECRET_ACCESS_KEY:  ${{ secrets.SECRET_ACCESS_KEY }}
        SESSION_TOKEN: ${{ secrets.SESSION_TOKEN }}